*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'font1', sans-serif; 
    font-weight: bold;
}

:root {
    --background: #1F2336;
    --accent: #932424;
    --primary: #E00000;
    --primary-dark: #270808;
    --primary-darker: #700b0b;
    --border-primary: #101010;
    --text: #ffffff;
    --background: #1f1f1f;
    --secondary: #2E2E2E;
    --gray-border: #3E3E3E;
    --gray-border-hover: #505050;
    --gray-menu-button: #7E7E7E;
    --gray-menu-button-hover: #232323;
    --navbar-height: 4rem;
    --gray-text-hover: #8F8F8F;
    --gray-icon: #A0A0A0;
    --bg: #060D23;
    --btn-bg: #280000;
    --glow-size: 0.5rem;

}

.papa{ 
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hijo{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    max-width: 20%;
    height: auto;

    // Errores de margen 
    
    padding: 1%;
    margin-left: 4%;
    margin-top: 2%;

    // Errores de margen 

    color: var(--text);
    font-size: 1em; 
    background-color: var(--primary-dark); 
    opacity: 80%;
    border: 2px var(--primary) solid;
}

.hijo-precio{
    font-size: 1.2rem;
}

.hijo img{
    max-width: 60%;
    height: auto;
    margin: 5% 5%;
    opacity: 60%;
    transition: all 0.2s ease-in-out;
}

.hijo img:hover {
    transform: scale(1.15);
}

.button-glow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 0;
    transition: all 0.5s;
}

.button-glow h1{
    display: block;
}

.button-glow:before {
    content: '';
    background: linear-gradient(to right, #B881FF, #A963F7,
            #8bff5d, #ffc300, #B881FF, #A963F7,
            #8bff5d, #ffc300, #B881FF);
    position: absolute;
    background-size: 300%;
    z-index: -1;
    filter: blur(var(--glow-size));
    width: calc(100% + var(--glow-size));
    height: calc(100% + var(--glow-size));
    opacity: 0;
    border-radius: var(--border-radius);
    animation: glow 25s alternate infinite;
    transition: opacity .5s linear;
}

.button-glow:active {
    background: var(--btn-bg);
}

.button-glow:hover:before {
    opacity: 1;
}

.button-glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    left: 0;
    top: 0;
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media only screen and (max-width: 720px) { // Mediaquery, ajustes de tamaño en pantallas mas chicas!
    .hijo{ 
        width: 100rem;
        margin: 3% auto;
        text-align: center;
        height: auto;
        
        .hijo img{ 
            max-width: 100%;
            height: auto;
            margin: 5% 5%;
        }
    }
}

.cta-button {

    outline: 1px solid;
    color: white;
    outline-color: white;

    margin-top: 2%;
    padding: 5%;

    cursor: pointer;

    line-height: 2.5rem;

    max-width: 100%;


    position: relative;

    display: flex;

    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
}

.cta-button:hover {
    box-shadow: 0 0 0 2px var(
        --accent
    );
    outline-color: rgba(
        255, 255, 255, 0
    );
    outline-offset: 15px;
    color: var(--accent);
}

