/* Estilos CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

:root {
    --background: #212735;
    --primary: #0f5aa1;
    --primary-dark: #17223b;
    --primary-dark2: #141a70;

    /* COLOR CAJAS */
    --botom-bg: #242428;
    --botom-bg2: #262632;
    /* COLOR CAJAS */

    --accent: #0f5aa1;
    --border-primary: #eeecec;
    --text: #ffffff;
    --secondary: #2E2E2E;
    --gray-border: #3E3E3E;
    --gray-border-hover: #505050;
    --gray-menu-button: #7E7E7E;
    --gray-menu-button-hover: #232323;
    --navbar-height: 4rem;
    --gray-text-hover: #8F8F8F;
    --gray-icon: #A0A0A0;
    --glow-size: 0.5rem;
}

.carousel {
    margin-top: 1%;
    opacity: 0.7;
    border: 1px solid #2E2E2E;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    transform: scale(1.2);
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right,
.carousel-item.active {
    opacity: 1;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    opacity: 0;
    transform: scale(0.95);
}

.search-container {
    display: flex;
    justify-content: center; 
    align-items: center;      
    width: 100%;              
}

#buscador {
    cursor: pointer;
    margin: 2%;
    padding: 1%;
    max-width: 100%;
    font-size: 16px;
}

.text {
    margin-top: 2%;
    margin-left: 1%;
    color: var(--text);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.text:hover {
    color: var(--primary);
}

.papa { 
    display: inline-flex;
    flex-wrap: wrap;
}

.hijo, .hijo2 { 
    flex-direction: column;
    align-items: center; 
    text-align: center;
    max-width: 20%;
    height: auto;
    padding: 1%;
    margin-left: 4%;
    margin-top: 2%;
    color: var(--text);
    font-size: 1em; 
    opacity: 1;
    border: 2px solid var(--primary);
    box-shadow: 5px 5px 5px rgb(16, 16, 16);
}

.hijo-precio {
    font-size: 1.2rem;
}

.hijo div h1,
.hijo2 div h1 {
    margin-top: 5%;
}

.hijo div img, 
.hijo2 div img {
    max-width: 20%;
    height: auto;
}

.hijo img, 
.hijo2 img {
    max-width: 60%;
    height: auto;
    margin: 5% 5%;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}

.hijo img:hover, 
.hijo2 img:hover {
    transform: scale(1.15);
}

.hijo figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: end;
    color: var(--text);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
}

.hijo:hover figcaption {
    opacity: 70%;
    visibility: visible;
    cursor: pointer;
    background: linear-gradient(to top, rgba(6, 23, 63, 0.945) 50%, rgba(0, 0, 0, 0.219) 100%);
    color: var(--accent);
    padding: 5%;
}

.cta-button {
    margin-top: 2%;
    padding: 5%;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    display: flex;
    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
}

.cta-button:hover {
    color: var(--accent);
}

.button-glow, 
.button-glow2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 0;
    transition: all 0.5s;
}

.button-glow h1, 
.button-glow2 h1 {
    display: block;
}

.button-glow:before,
.button-glow2:before {
    content: '';
    background: linear-gradient(to right, #B881FF, #A963F7,
            #8bff5d, #ffc300, #B881FF, #A963F7,
            #8bff5d, #ffc300, #B881FF);
    position: absolute;
    background-size: 300%;
    z-index: -1;
    filter: blur(var(--glow-size));
    width: calc(100% + var(--glow-size));
    height: calc(100% + var(--glow-size));
    opacity: 0;
    border-radius: var(--border-radius);
    animation: glow 25s alternate infinite;
    transition: opacity .5s linear;
}

.button-glow:active {
    background: var(--botom-bg);
}

.button-glow2:active {
    background: var(--botom-bg2);
}

.button-glow:hover:before,
.button-glow2:hover:before {
    opacity: 1;
}

.button-glow:after,
.button-glow2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.button-glow:after {
    background: var(--botom-bg);
}

.button-glow2:after {
    background: var(--botom-bg2);
}

@keyframes glow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media only screen and (max-width: 720px) {
    .papa{ 
        display: flex;
        flex-wrap: wrap;
    }
    
    .hijo, .hijo2{
        max-width: 40%;
        height: auto;
        margin: 3% auto;
        padding: 2%;
    }

    .hijo img, .hijo2 img{ 
        max-width: 100%;
        height: auto;
        margin: 5% 5%;
    }

    .hijo-carro{
        display: block;
        max-width: 30%;
    }

    .hijo figcaption {
        display: none;
        position: absolute;
    }
    
    .hijo:hover figcaption {
        display: flex;
        opacity: 1;
    }
}