
$--background: #212735;
$--primary: #0f5aa1;
$--primary-dark: #17223b;
$--primary-dark2: #141a70;

// ### COLOR CAJAS ###
$--botom-bg: #242428;
$--botom-bg2: #262632;
// ### COLOR CAJAS ###

$--accent: #0f5aa1;
$--border-primary: #eeecec;
$--text: #ffffff;
$--secondary: #2E2E2E;
$--gray-border: #3E3E3E;
$--gray-border-hover: #505050;
$--gray-menu-button: #7E7E7E;
$--gray-menu-button-hover: #232323;
$--navbar-height: 4rem;
$--gray-text-hover: #8F8F8F;
$--gray-icon: #A0A0A0;
$--glow-size: 0.5rem;
